.section-6{
    background-color: #F1F6FA;
    padding: 100px 30px;
    overflow: hidden;
}
.section-6 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-6 .container span{
    color: gray;
    text-align: center;
    font-size: 20px;
}
.section-6-br{
    display: none;
}
#section6Carousel{
    max-width: 830px;
}
.section-6 .carousel-control-next{
    left: unset;
    right: -60px;
}
.section-6 .carousel-control-prev{
    left: -60px;
}
.section-6 .carousel-indicators button{
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
@media (max-width: 860px){
    .section-6-br{
        display: unset;
    }
    .section-6-container span{
        text-align: center;
    }
    .section-6 .carousel-control-next{
        right: -50px;
    } 
    .section-6 .carousel-control-prev{
        left: -50px;
    }
}
@media (max-width: 580px){
    .carousel-indicators{
        bottom: -30px;
    }
    .section-6 .carousel-control-next{
        right: -35px;
    } 
    .section-6 .carousel-control-prev{
        left: -35px;
    }
    .section-6 .container span{
        font-size: 14px;
    }
}
@media (max-width: 360px){
    .section-6{
        font-size: 14px;
        padding: 40px 0;
    }
    .section-6 .container span{
        max-width: 328px;
    }
}