.section-1{
    padding: 0 30px 250px;
}
.section-1 .container{
    display: flex;
    justify-content: space-between;
}
.section-1-left{
    display: flex;
    flex-direction: column;
    max-width: 540px;    
    margin-right: 20px;
}
.section-1-left span{
    font-size: 20px;
    color: gray;
}
.section-1-h2{
    margin-top: 22px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 46px;
}
.section-1-link{
    font-weight: bold;
    margin-top: 35px;
    padding: 15px 55px;
    width: fit-content;
}
@media (max-width: 860px){
    .section-1{
        padding: 0 0 100px;
    }
    .section-1 .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-1-left{
        align-items: center;
    }
    .section-1-img-coder{
        margin: 0 100px 40px;
    }
}
@media (max-width: 580px){
    .section-1{
        padding-bottom: 60px;
    }
    .section-1 .container{        
        align-items: unset;
    }
    .section-1-img-coder{
        margin: 0 50px 30px;
    }
    .section-1-h2{
        font-size: 30px;
    }
    .section-1-link{
        width: 100%;
    }
}