.section-9{
    padding: 140px 30px 120px;
}
.section-9 .container{
    overflow: hidden;
}
.section-9-head{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-9-head-buttons-wrap{
    display: flex;
}
.section-9-head button{
    background: #F0F9FF;
    border-radius: 20px;
    width: 80px;
    height: 45px;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-9-swiper-prev:hover, #section-9-swiper-next:hover{
    opacity: 0.3;
}
#section-9-swiper-prev{
    rotate: 180deg;
    margin-right: 15px;
}
.section-9-swiper{
    overflow: visible;
}
.section-9-swiper .swiper-slide{
    width: fit-content;
}
.section-9-swiper-item{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.section-9-swiper-item-h4{
    font-size: 22px;
}
.section-9-swiper-item span{
    margin: 12px 0;
    color: gray;
}
.section-9-item-link{
    color: #185CFF;
    font-weight: bold;
    text-decoration: unset;
}
.section-9-item-link:hover{
    text-decoration: underline;
}
.section-9-bottom-btn{
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    font-weight: bold;
}
@media (max-width: 580px){
    .section-9{
        padding: 30px 30px 60px;
    }
    .section-9-swiper-item{
        max-width: 270px;
    }
    .section-9-swiper-item-h4{
        height: 110px;
    }
    .section-9-swiper-item-description{
        height: 100px;
    }
}
@media (max-width: 360px){
    .section-9-swiper-item{
        max-width: 240px;
    }
    .section-9-swiper-item-h4{
        height: 132px;
    }
    .section-9-swiper-item-description{
        height: 120px;
    }
}