.section-5{
    padding: 90px 30px 190px;
}
.section-5-top, .section-5-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-5-top{
    margin-bottom: 280px;
}
.section-5-text-wrap{
    width: 540px;
}
.section-5-text-wrap span{
    font-size: 20px;
    color: gray;
}
.section-5-top-img{
    width: 363px;
    height: 350px;
}
.section-5-btm-img{
    width: 468px;
    height: 363px;
}
@media (max-width: 860px){
    .section-5-top-img{
        width: 182px;
        height: 175px;
    }
    .section-5-btm-img{
        width: 234px;
        height: 182px;
    }
    .section-5-text-wrap{
        width: 350px;
    }    
    .section-5-text-wrap span{
        font-size: 14px;
    }
}
@media (max-width: 580px){
    .section-5{
        padding: 60px 0;
    }
    .section-5-top{
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }    
    .section-5-bottom{
        flex-direction: column;
    }
    .section-5-text-wrap{
        width: 100%;
    }
    .section-5-top-img{
        width: 350px;
        height: 227px;
        margin-bottom: 30px;
    }
    .section-5-btm-img{
        width: 310px;
        height: 180px;
        margin-bottom: 60px;
    }
}
@media (max-width: 360px){    
    .section-5-text-wrap{
        font-size: 14px;
        width: unset;
    }
}
