.section-1-breadcrumb{
    align-self: flex-start;
    margin-bottom: 40px;    
}
.section-1-breadcrumb .breadcrumb-item a{
    text-decoration: none;
    color: gray;
}
.section-1-breadcrumb .active{
    font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: "|";
    margin-right: 8px;
}
.section-12-h2{
    margin-bottom: 15px;
    text-align: center;
}
.description{
    width: 540px;
    color: gray;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 125px;
}
.section-help{
    background-color: #F1F6FA;
    padding: 100px 30px;
}
.section-help .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-help-description{
    margin: 30px 0;
    text-align: center;
}
@media (max-width:860px) {
    .description{
        width: unset;
        margin-bottom: 40px;
    }
}