.section-8{
    padding: 120px 30px;
    background-color: #F1F6FA;
}
.section-8 .container{
    display: flex;
    justify-content: space-between;
}
.section-8-left{
    display: flex;
    flex-direction: column
}
.section-8-text-wrap{
    width: 540px;
    margin-bottom: 80px;
}
.section-8-h2{
    font-size: 38px;
    margin-bottom: 24px;
}
.section-8-left span{
    color: gray;
}
.section-8-email{
    margin-bottom: 24px;
}
.section-8-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    width: 445px;
    height: 593px;
}
.section-8-form-h3{
    margin-bottom: 30px;
}
.section-8-form label{
    color: gray;
}
.section-8-form input{
    font-weight: bold;
    border: unset;
    border-bottom: 1px solid black;
    border-radius: unset;
}
.section-8-form input:focus{
    border-color: unset;
    box-shadow: unset;
}
.section-8-form-submit-button{
    margin: auto 0 0 auto;
    padding: 10px 52px;
}
@media (max-width: 1040px){
    .section-8 .container{
        flex-direction: column;
        align-items: center;
    }
    .section-8-left{
        margin-bottom: 80px;
    }
}
@media (max-width: 580px){
    .section-8{
        padding: 60px 0 40px;
    }
    .section-8-left{
        margin-bottom: 0;
    }
    .section-8-text-wrap{
        width: unset;
        margin-bottom: 30px;
    }
    .section-8-h2{
        font-size: 30px;
    }
    .section-8-text-wrap span{
        display: none;
    }
    .section-8-mob-btn{
        font-weight: bold;
        margin-top: 100px;
        display: flex !important;
        width: fit-content;
        align-self: center;
    }
    .section-8-form{
        display: none;
    }
    .section-8-left .section-8-form{
        display: flex;
        width: unset;
    }
}
@media (max-width: 360px){
    .section-8-mob-btn{
        margin-top: 40px;
        padding: 10px 0;
        width: 100%;
        justify-content: center;
    }
}