.section-10{
    padding: 120px 30px;
    background-color: #F0F9FF;
}
.section-10-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.section-10-h2{
    position: relative;
}
.section-10-h2::after{
    content: "";
    height: 4px;
    width: 95px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: #185CFF;
}
.section-10-btn-wrap{
    display: flex;
}
.section-10-btn-wrap button{
    background: white;
    border-radius: 20px;
    width: 80px;
    height: 45px;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-10-swiper-prev{
    rotate: 180deg;
    margin-right: 15px;
}
.section-10-item{
    background-color: #fff;
    padding: 35px;
    color: gray;
}
.section-10-item-head{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.section-10-item-avatar{
    margin-right: 25px;
}
.section-10-item-pers-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-10-item-name{
    font-weight: bold;
    color: #000;
}
@media (max-width: 860px){
    .section-10-item-pers-info{
        height: 80px;
    }
}
@media (max-width: 580px){
    .section-10{
        padding: 40px 30px 80px;
    }
    .section-10-head{
        flex-direction: column;
        align-items: center;
    }
    .section-10-h2{
        margin-bottom: 30px;
    }
}
@media (max-width: 360px){
    .section-10-item{
        font-size: 12px;
    }
}