.section-7{
    padding: 100px 30px;
}
.section-7 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-7-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}
.section-7-h2{
    position: relative;
}
.section-7-h2::after{
    content: "";
    height: 4px;
    width: 95px;
    background-color: #185CFF;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.section-7-head-buttons-wrap{
    background-color: #F0F9FF;
    border-radius: 20px;
    overflow: hidden;
}
.section-7-head-buttons-wrap .btn{
    border-radius: 20px;
    width: 125px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-weight: bold;
}
.section-7-head-buttons-wrap .btn:hover{
    opacity: 0.5;
}
.section-7-items-wrap{
    width: 100%;
}
.section-7-item{
    height: 558px;
    max-width: 350px;
    box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
    border-radius: 6px;
    padding: 50px 30px;
    margin: 0 auto 60px;
}
.section-7-item h4{
    font-weight: bold;
}
.section-7-item-price{
    font-weight: bold;
    font-size: 38px;
}
.section-7-item-price-near{
    font-size: 20px;
}
.section-7-item-button{
    width: 100%;
    background-color: unset;
    color: #185CFF;
    margin: 40px 0;
    font-weight: bold;
}
.section-7-iem-checkmark{
    margin-right: 11px;
}
.section-7-item-benefits{
    margin-bottom: 15px;
}
.section-7-bottom-btn{
    font-weight: bold;
    padding: 15px 35px;
}
@media (max-width: 580px){
    .section-7{
        padding: 60px 0;
    }
    .section-7-head{
        flex-direction: column;
        margin-bottom: 30px;
        align-items: unset;
    }
    .section-7-h2{
        margin-bottom: 50px;
    }
    .section-7-item{
        margin-bottom: 30px;
        height: 475px;
    }
}
@media (max-width: 360px){
    .section-7-head-buttons-wrap{
        width: 190px;
    }
    .section-7-item{
        padding: 50px 20px 0;
        font-size: 12px;
    }
    .section-7-bottom-btn{
        width: 100%;
    }
}