.section-2{
    background-color: #F1F6FA;
    padding: 100px 30px;
}
.section-2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2-span{
    text-align: center;
    margin: 30px 0 60px;
    font-size: 20px;
    color: gray;
}
.section-2-item{
    padding: 46px 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 6px;
}
.section-2-item-img{
    height: 70px;
    width: 70px;
    margin-bottom: 30px;    
}
.section-2-item h4{
    font-size: 1.3em;
}
.section-2-item span{
    color: gray;
}
@media (max-width: 860px){
    .section-2{
        padding: 50px 30px;
    }
    .section-2-span{
        margin: 15px 0 30px;
    }
}
@media (max-width: 360px){
    .section-2{
        padding: 40px 0px;
    }
    .section-2-span{
        margin: 5px 0 30px;
        font-size: 14px;
    }
    .section-2-item{
        height: 400px;
    }
}
.carousel-item.active{
    margin: auto;
}
.carousel-indicators{
    bottom: -15px;
}
.carousel-indicators [data-bs-target]{
    background-color: black;
}